/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Common */

.spacing > * + * {
  margin-top: 1.5em;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  background-color: var(--clr-accent, orange);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--clr-text, #fff);
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.container {
  max-width: 65em;
  width: 85%;
  margin: 0 auto;
}

section {
  padding: 7em 0;
}

.section-title {
  margin-bottom: 1em;
  text-align: center;
  font-size: clamp(3rem, calc(5vw + 1rem), 4rem);
  font-weight: 700;
  color: #17353d;
}

/* Hero */
.hero {
  padding: 15em 0;
  background-color: #222;
  text-align: center;
  color: #fff;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/curro.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

.main-title {
  line-height: 1;
  text-transform: uppercase;
  font-size: clamp(3rem, calc(5vw + 1rem), 4rem);
}
